<ion-view view-title="Playlists" ng-init="init()">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{songObject.code}} {{songObject.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
