<ion-view view-title="Tìm Bài Hát" ng-init="init()">
	<ion-header-bar class="bar-light bar-subheader">
      <input type="search"
             placeholder="Nhập tên hoặc lời bài hát"
             ng-model="search"
             ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="scrollTop()"
             class="full-width">
      <button ng-if="search.length"
              class="button button-icon ion-android-close input-button"
              ng-click="clearSearch()">
      </button>
    </ion-header-bar>
  <ion-content>
    <ion-list show-delete="false" show-reorder="false" can-swipe="true">
        <div ng-repeat="item in listDanhSach" class="row k-nopadding kitem">
           <!-- href="#/app/playlists/2"-->              
              <ion-item class="my-item full-width kcontent col col-80"  href="#/app/playlists/{{item.code}}">
                <div class="col">              
                  <strong>{{item.name}}</strong>
                </div>
                <div class="col">
                  {{item.noted}}    
                </div> 
                <div class="col">
                  {{item.lyrics}}    
                </div>                     
              </ion-item>     
              <div class="col col-20 kitemdetailfamous" ng-click="likeSong(item)">
                <div class="col kautoalign">              
                  <strong>{{item.code}}</strong>
                </div>
                <div class="col kautoalign">              
                  <i ng-class="{'ion-ios-heart': item.liked == 'true', 'ion-ios-heart-outline': item.liked == 'false'}"></i>
                </div>
                 
              </div>                            
          
        </div>     
      </ion-list>
  </ion-content>
</ion-view>


 