/* Empty. Add your own CSS if you like */
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.kitem .item{
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-style: hidden;
}
.kitem .item .item-content.activated{
  background-color: transparent !important;
}

.kitem{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ddd;    
}

.my-item.item {
  padding: 3px 0 3px 0;  
}

.kitem + .kitem{
  margin-top:0px !important;
}

.full-width {
  width: 100%;
}

.seven-per-width{
  width: 70%;
}
.third-per-width{
  width: 30%;
}
.kcontent a.item-content{
  padding: 0 !important;
}

i.ion-ios-heart-outline, i.ion-ios-heart {
  color: red;
  font-size: 35px;
}

.k-nopadding{
  padding: 1px !important;
}
.kitemdetailfamous{        
    padding: 0 !important;        
    margin: 0 !important;      
}
.kitemdetailfamous:hover{
    cursor: pointer;
}

.kitem div{
  padding: 5px 0 0 5px !important;  
}

.kautoalign{
  margin:0 auto;
  text-align: center;

}
.ktextalign{
  text-align: center;
}

